/* COLORS - partial */
/* Thanks to Paletton */
/* Pallette @ http://paletton.com/#uid=53+120kkAllcwoQgzn3oNjysWhS */

$ltblue: #5D5D8A;
$mltblue: #484881;
$blue: #363677;	/* Main Primary color */
$mdkblue: #25256D;
$dkblue: #171764;

$ltpink: #905883;
$mltpink: #864076;
$pink: #7C2C6A; 	/* Main Secondary color (1) */
$mdkpink: #711A5E;
$dkpink: #680A53;

$ltgreen: #578E6D;
$mltgreen: #40845B;
$green: #2C7A4B;  /* Main Secondary color (2) */
$mdkgreen: #19703C;
$dkgreen: #0A662F;