@mixin rounded-corners($rounded) {
  -webkit-border-radius: $rounded;
  -moz-border-radius: $rounded;
  -ms-border-radius: $rounded;
  border-radius: $rounded;
}

@mixin clearfix {
  &:before, &:after {
    content: "";
    display: table;
  }

  &:after {
    clear: both;
  }
}

$gutter-width: 60px;
$column-width: 20px;

@mixin grid-unit($span) {
  float: left;
  margin-right: $gutter-width;
  width: ($column-width * $span) + ($gutter-width * ($span - 1));
}

@mixin resp-bkg-img($img-width, $img-height) {
  background-size: 100%;

  height: 0;
  padding-bottom: percentage($img-height / $img-width);
  display: block;
}