.left {
    width: 49.5%;
    float: left;
    ul {
        padding-left: 0;
        margin: 0 auto;
        width: 80%;
        h4{
            margin: 0;
            opacity: .5;
            color: blue;
            transition: all .3s ease;
        }
        h4:hover {
            text-decoration: underline;
            opacity: 1;   
            cursor: pointer;
        }
    }
}

.right {
    width: 49.5%;
    float: left;
    a {
        font-size: 1.5em;
        text-align: center;
        opacity: .8;
        transition: all .3s ease;
    }
    a:hover {
        opacity: 1;
    }
}
