{
    "env": {
        "browser": true,
        "es6": true,
        "node": true,
        "mocha": true,
        "protractor": true,
        "jasmine": true
    },
    "globals": {
        "angular": false,
        "chai": false
    },
    "extends": "eslint:recommended",
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
          "experimentalObjectRestSpread": true,
          "impliedStrict": true
        }
    },
    "rules": {
        "indent": [
            "error",
            2
        ],
        "quotes": [
            "error",
            "single"
        ],
        "semi": [
            "error",
            "always"
        ],
        "no-console": "off"
    }
}