@import 'colors';
@import 'links';

:local(.stores) {
    border: 1px solid black;
    min-height: 300px;
    margin: 10% 2% 2%;

    header {
        background-color: $header;
        margin: 0;
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 1000;

        h1 {
            font-size: 2.5em;
            text-align: left;
            width: 50%;
            margin: 1% 0 1% 5%;
            display: inline-block;
        }

        nav {
            width: 40%;
            display: inline-block;
            text-align: right;
            margin: 0;
            position: relative;
            top: -7px;
        }

        a {
            @include nav-links();
            display: inline-block;
        }
    }
}
