<!-- <button class="viewButton" ng-click="$ctrl.detail()">View Stores</button> -->
<!-- <button class="viewButton" ng-click="$ctrl.new()">Add a Store</button> -->
<a ui-sref="stores.add" ng-click="$ctrl.new()">Add a Store</a>

<ui-view name="stores.add"></ui-view>

<div class="component detail" ng-hide="$ctrl.viewNew === true">
  <h2>List of pet stores</h2>
    <a ng-repeat="store in $ctrl.stores"
        ui-sref="stores.detail({
            id: store._id,
            name: store.name
        })">{{store.name}}
    </a>
  <ui-view>select a pet store to see detail</ui-view>
</div>


<new-store add="$ctrl.add"><new-store>
