<section ng-class="$ctrl.styles.welcome">
    <header>
        <h1>Welcome to the Pet Store Directory!</h1>
    </header> 
    <div>
        <p>Click on the view stores button below to see the list of stores.
            If you are not currently signed in, you will be prompted to sign in,
            or sign up for an account with us. Registration is free, and gives you
            access to an exhaustive list of stores in our area including their current
            inventories. As a member, you will be able to add stores to the list, as well as add pets to the inventory of the stores.</p>   
        <button ui-sref="stores">View Stores</button>
    </div>
</section>
