<section ng-class="$welcome.styles.section">
  <header ng-class="$welcome.styles.header">
    <div>Welcome to Petriffic!<div>
    <div ng-class="$welcome.styles.small">
      <p>Feel the need to indulge or splurge? Well you've come to the right place. This is the internet's most eclectic and idiosyncratic collection of small to mid-sized pet stores and their current pets across the United States.</p>
      <p>It may take some digging, but you'll find your perfect pet here.</p>
      <p>Shop Owners, feel free to add your pets and your information. The bigger the network of stores grows, the more potential pet owners will contact your store!</p>
    </div>
  </header>
  <button ng-class="$welcome.styles.btn" ui-sref="stores.all">View Pet Stores</button>
</section>