<nav>   
    <a ui-sref="welcome" ui-sref-active="link">Welcome</a>
    <a ng-if="$ctrl.isAuthenticated()" ui-sref="welcome" ng-click="$ctrl.logout()">logout</a>
</nav>


<h1>Store Name</h1>

<!--<ul>    
    <li ng-repeat="store in $ctrl.stores">
        <p>Store Name: {{store.name}}</p>
        <p>{{store.address.street}}</p>
        <p>{{store.address.city}}</p>
        <p>{{store.address.state}}</p>
    </li>
</ul>-->

<h2>Pets</h2>
<ul>
    <li ng-repeat="pet in $ctrl.pet">
        <p>Pet: {{store.pet}}</p>
    </li>
</ul>
