@import 'colors';
@import 'fonts';
@import 'mixins';
@import 'buttons';

:local(.section) {
  background-color: $ltgreen;
  background: url('http://www.globaltimes.cn/Portals/0/attachment/2011/249d6e62-e2e6-4618-ae99-585e9954f26b.jpg') no-repeat;
  @include resp-bkg-img(1000, 750);
  @include rounded-corners(1rem);

  @include clearfix;

  label {
    display: inline-block;
    text-align: right;
    width: 5.7rem;
    font-style: normal;
    font-family: $text-font;
  }


  h2 {
    margin-left: 1%;
    background-color: $ltblue;
    font-style: italic;
    border: none;
    @include rounded-corners(1rem);
    font-size: 2rem;
    width: 50%;
    padding: 2%;
    margin-bottom: 0;
    margin-top: 1rem;
  }

  button {
    margin-top: 2rem;
  }
}

:local(.width) {
  width: 50%;
}