body {
    background-color: steelblue;
}

h1, h2, h3 {
    text-align: center;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

nav a {
    padding: 0.1em;
    margin: 0.1em;
}

section {
    width: auto;
    text-align: center;
    background-color: white;
    border-radius: 4px;
}

p {
    margin: 0.1em;
    text-align: center;
}

button {
    margin: 1px auto;
}