<section>
    <h3>Hi from "{{$ctrl.store.name}}"</h3>
    <div>
        <p>Street: {{$ctrl.store.address.street}}</p>
        <p>City: {{$ctrl.store.address.city}}</p>
        <p>State: {{$ctrl.store.address.state}}</p>
    </div>
    <div ng-class="$ctrl.styles.pettable">
        <table>
            <thead>
                <tr>
                    <th>Pet Name</th>
                    <th>Pet Type</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="pet in $ctrl.store.pets">
                    <td>{{pet.name}}</td>
                    <td>{{pet.animal}}</td>
                    <td><button ng-click="$ctrl.parent.del(pet)">Delete</button></td>
                </tr>
            </tbody>
        </table>
    </div>
    <button ng-click="$ctrl.goAddPet()">Add a new pet!</button>
</section>