<section>
    <h3>Hi from "{{$ctrl.store.name}}"</h3>
    <div>
        <p>Street: {{$ctrl.store.address.street}}</p>
        <p>City: {{$ctrl.store.address.city}}</p>
        <p>State: {{$ctrl.store.address.state}}</p>
    </div>
    <div ng-class="$ctrl.styles.search">
        <h4>Search:</h4>
        Name: <input ng-model="search.name" type="text">
        <br>
        Animal: <input ng-model="search.animal" type="text">
    </div>
    <div ng-class="$ctrl.styles.pettable">
        <table>
            <thead>
                <tr>
                    <th ng-repeat="category in ['name', 'animal']"
                        ng-class="{ sorted: $ctrl.sort === category, desc: $ctrl.order }"
                        ng-click="$ctrl.orderBy(category)">
                        {{category}}
                    </th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="pet in $ctrl.store.pets
                    | filter: search
                    | orderBy: $ctrl.sort : $ctrl.order">
                    <td>{{pet.name}}</td>
                    <td>{{pet.animal}}</td>
                    <td>
                        <button ng-click="$ctrl.parent.del(pet)">X</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <button ng-click="$ctrl.goAddPet()">Add a new pet!</button>
</section>