<section>
  <form ng-submit="$ctrl.addStore()">
    <label>Name:</label>
    <input type="text" ng-model="$ctrl.name" required>
    <label>Street:</label>
    <input type="text" ng-model="$ctrl.address.street" required>
    <label>City:</label>
    <input type="text" ng-model="$ctrl.address.city" required>
    <label>State:</label>
    <input type="text" ng-model="$ctrl.address.state" required>
    
    <button>Submit</button>
    <button ui-sref="stores.all">Cancel</button>
  </form>
</section>