:local(.pets) {
    ul {
        padding: 0;
        margin: .2em 0;
    }

    li {
        padding-right: .2em;
        color: darkblue;
    }

    a {
        font-size: 1.3em;
        color: #555;
    }
}